/* styles.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('background.webp'); /* Replace with your background image path */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* White with transparency */
    border: 2px solid #000; /* Optional: Add a border to the canvas */
    top: 20px;
}

#audioToggle {
    position: absolute;
    top: 20px;
    left: calc(50% - 250px);
    cursor: pointer;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}